
{% extends 'html/index.html' %}


{% block content %}
    
    <Form method="post" action="{% url 'calculate_page' %}" class="row">
        {% csrf_token %}
        <div class="mb-3 row">
            <h2>Technical Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label text-right">Architectural Complexity:* </label>
            </div>
            <div class="col-sm-4">
                <select name="architectural_complexity" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label">Software Performance:* </label>
            </div>
            <div class="col-sm-4">
                <select name="software_performance" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>        
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Software Scalability:* </label>
            </div>
            <div class="col-sm-4">
                <select name="software_scalability" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>         
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Compatibility:* </label>
            </div>
            <div class="col-sm-4">
                <select name="compatibility" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Project Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Budget Constraint:* </label>
            </div>
            <div class="col-sm-4">
                <select name="budget_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Schedule Constraint:* </label>
            </div>
            <div class="col-sm-4">
                <select name="schedule_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Scope Constraint:* </label>
            </div>
            <div class="col-sm-4">
                <select name="scope_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Resource Constraint:* </label>
            </div>
            <div class="col-sm-4">
                <select name="resource_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Business Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Market Change:* </label>
            </div>
            <div class="col-sm-4">
                <select name="market_change" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Competition:* </label>
            </div>
            <div class="col-sm-4">
                <select name="competition" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Regulatory Requirements:* </label>
            </div>
            <div class="col-sm-4">
                <select name="regulatory_requirements" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Personal Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Skill Gaps:* </label>
            </div>
            <div class="col-sm-4">
                <select name="skill_gaps" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Turnover:* </label>
            </div>
            <div class="col-sm-4">
                <select name="turnover" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Team Communication Issues:* </label>
            </div>
            <div class="col-sm-4">
                <select name="team_communication_issues" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="text-center">
            <button onclick="" class="btn btn-sm bg-success">Calculate</button>
        </div>
        <div class="text-center">
                <input type="text" name="result"  value="{{ output }}" readonly>
            </div>    
        </div>
    </Form>


{% endblock %}
