
{% extends 'html/index.html' %}

{% block content %}
<style>
    h2{
        color: #0577e9;
        text-decoration: underline;
        /* text-decoration-color: crimson  ;  */
    }
    label{
        font-weight: bold;
        float: right;
    }
    label span{
        color: red;
    }
</style>
<div class="container">
    <Form method="post" action="{% url 'contribute_page' %}">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label text-right">Project Name: </label>
            </div>
            <div class="col-sm-4">
                <input type='text' name="project_name" class="form-control" placeholder='Enter project name' />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label text-right">Email:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <input type='email' name="email" class="form-control" placeholder='Enter your email' required/>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label text-right">Experience:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="experience" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='beginner'>Beginner (0-2 years)</option>
                    <option value='intermediate'>Intermediate (2-5 years)</option>
                    <option value='advanced'>Advanced (5+ years)</option>
                </select>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Technical Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label text-right">Architectural Complexity:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="architectural_complexity" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label class="col-form-label">Software Performance:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="software_performance" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>        
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Software Scalability:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="software_scalability" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>         
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Compatibility:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="compatibility" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Project Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Budget Constraint:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="budget_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Schedule Constraint:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="schedule_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Scope Constraint:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="scope_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Resource Constraint:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="resource_constraint" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Business Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Market Change:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="market_change" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Competition:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="competition" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Regulatory Requirements:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="regulatory_requirements" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="mb-3 row">
            <h2>Personal Risk</h2>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Skill Gaps:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="skill_gaps" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Turnover:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="turnover" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-right">
                <label col-form-label>Team Communication Issues:<span>*</span> </label>
            </div>
            <div class="col-sm-4">
                <select name="team_communication_issues" class="form-select" required>
                    <option value='' >Select an option</option>
                    <option value='yes'>Yes</option>
                    <option value='no'>No</option>
                </select>                
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-sm bg-success" >Submit</button>
        </div>
    </Form>
</div>
{% endblock %}